* {
  margin: 0;
  padding: 0;
}
body {
  background: linear-gradient(90deg, #b400ff 0%, #ee2342 80%);
}
form {
  margin-left: 250px;
  border: 1px solid rgb(255, 0, 128);
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="number"] {
  height: 30px;
  width: 300px;
  background-color: transparent;
}
select {
  height: 30px;
  width: 300px;
}
label {
  display: block;
}
button {
  background-color: greenyellow;
  color: white;
  padding: 10px;
}

input::placeholder {
  color: #ee2342;
}
